.env
.venv
node_modules

# IPFS/Kubo files
/kubo
/fs-repo-migrations

/contracts/node_modules

# Hardhat files
/contracts/cache
/contracts/artifacts

# TypeChain files
/contracts/typechain
/contracts/typechain-types

# solidity-coverage files
/contracts/coverage
/coverage.json

# Hardhat Ignition 
/contracts/ignition

/api/input

# Foundry files
/api/__pycache__
/api/schemas/__pycache__

/api/modules/blockdag/__pycache__
/api/modules/ipfs/__pycache__

/api/tests/__pycache__
.pytest_cache

/api/scripts/__pycache__
/api/models/__pycache__